<?xml version='1.0' encoding='utf-8'?>
<widget id="com.redhat.demo.wfm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FeedHenry WFM</name>
    <description>
      A demo mobile of the Feedhenry RainCatcher
    </description>
    <author email="feedhenry-raincatcher@redhat.com" href="http://feedhenry.org">
      Red Hat Mobile
  </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="https://fonts.googleapis.com" />
    <access origin="https://*.gstatic.com" />
    <access origin="https://*.amazonaws.com" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icons/android/icon.png" />
        <icon density="mdpi" src="www/res/icons/android/icon-mdpi.png" />
        <icon density="hdpi" src="www/res/icons/android/icon-hdpi.png" />
        <icon density="xhdpi" src="www/res/icons/android/icon-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icons/android/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icons/android/icon-xxxhdpi.png" />
        <splash density="land-hdpi" src="www/res/splash/android/splash-land-hdpi.png" />
        <splash density="land-ldpi" src="www/res/splash/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="www/res/splash/android/splash-land-mdpi.png" />
        <splash density="land-xhdpi" src="www/res/splash/android/splash-land-xhdpi.png" />
        <splash density="port-hdpi" src="www/res/splash/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="www/res/splash/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/res/splash/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="www/res/splash/android/splash-port-xhdpi.png" />
        <preference name="SplashScreen" value="screen" />
    </platform>
    <platform name="ios">
        <icon height="180" src="www/res/icons/ios/Icon-60@3x.png" width="180" />
        <icon height="60" src="www/res/icons/ios/Icon-60.png" width="60" />
        <icon height="120" src="www/res/icons/ios/Icon-60@2x.png" width="120" />
        <icon height="76" src="www/res/icons/ios/Icon-76.png" width="76" />
        <icon height="152" src="www/res/icons/ios/Icon-76@2x.png" width="152" />
        <icon height="40" src="www/res/icons/ios/Icon-40.png" width="40" />
        <icon height="80" src="www/res/icons/ios/Icon-40@2x.png" width="80" />
        <icon height="57" src="www/res/icons/ios/icon.png" width="57" />
        <icon height="114" src="www/res/icons/ios/icon@2x.png" width="114" />
        <icon height="72" src="www/res/icons/ios/Icon-72.png" width="72" />
        <icon height="144" src="www/res/icons/ios/Icon-72@2x.png" width="144" />
        <icon height="29" src="www/res/icons/ios/Icon-small.png" width="29" />
        <icon height="58" src="www/res/icons/ios/Icon-small@2x.png" width="58" />
        <icon height="50" src="www/res/icons/ios/Icon-50.png" width="50" />
        <icon height="100" src="www/res/icons/ios/Icon-50@2x.png" width="100" />
    </platform>
    <engine name="android"/>
    <engine name="ios"/>
    <plugin name="cordova-plugin-camera" spec="~2.3.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
    <plugin name="cordova-plugin-file" spec="~4.2.0" />
    <plugin name="cordova-plugin-file-transfer" spec="1.6.3" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.6.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.0" />
</widget>
